[submodule "themes/coder"]
	path = themes/coder
	url = git@github.com:johnsinco/hugo-coder.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:johnsinco/johnsinco.github.io.git
	branch = master
